.hero-section {
  display: flex;
  align-items: center;

  padding: 4.8rem 0 9.6rem 0;

  background-color: var(--primary-hint);
}

.content {
  display: flex;
  gap: 9.6rem;

  margin: 0 auto;
  padding: 0 3.2rem;

  max-width: 130rem;
}

.text-content {
  margin: auto 0;
  width: 50%;
}

.header {
  color: #333;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
}

.description {
  margin: 4.8rem 0;
}

.hero-btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;

  margin-left: 2.4rem;
  border: 2px solid #fff;

  transition: background-color 0.25s;
}

.hero-btn-secondary:hover {
  background-color: var(--primary-hint);
}

.arrow-down {
  font-size: 2rem;
  color: #333;
}

.hero-btn-secondary:hover .arrow-down,
.hero-btn-secondary:focus-visible .arrow-down {
  animation: var(--fade-down);
}

.meals-delivered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;

  margin-top: 4.8rem;
}

.avatar-group {
  display: flex;
}

.avatar {
  border-radius: 50%;
  border: 3px solid #fff;

  width: 4.8rem;
  height: 4.8rem;
}

.avatar:not(:first-child) {
  margin-left: -1.6rem;
}

.meals-delivered-label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.meals-delivered-count {
  color: var(--primary-shade);
  font-weight: 700;
}

.hero-images-content {
  position: relative;

  width: 50%;
}

.hero-img {
  width: 100%;
}
