.hero-section {
  display: flex;
  align-items: center;
  /* height: 105vh; */
  padding: 4.8rem 0 9.6rem 0;

  /* background-color: red; */
  background-color: var(--primary-hint);
}
.hero-content {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  display: flex;
  gap: 9.6rem;
}
.hero-text-content {
  width: 50%;
  margin: auto 0;
}
.hero-header-1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  /* margin-bottom: 3.2rem; */
}
.hero-description {
  margin: 4.8rem 0;
}

.hero-btn-secondary {
  margin-left: 2.4rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  transition: background-color 0.25s;
  border: 2px solid #fff;
}
.hero-btn-secondary:hover {
  background-color: var(--primary-hint);
}

.arrow-down {
  color: #333;
  font-size: 2rem;
}
.hero-btn-secondary:hover .arrow-down {
  animation: var(--fade-down);
}

.meals-delivered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.8rem;
  gap: 1.6rem;
}
.avatar-group {
  display: flex;
}
.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fff;
}
.avatar:not(:first-child) {
  margin-left: -1.6rem;
}
.meals-delivered-label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}
.meals-delivered-counter {
  color: var(--primary-shade);
  font-weight: 700;
}
.hero-images-content {
  width: 50%;
  position: relative;
  /* border: solid 2px red; */
}
.hero-img {
  width: 100%;
}
