.hero-section {
  padding: 4.8rem 0 9.6rem 0;
  background-color: var(--primary-hint);
}

.content {
  display: grid;
  grid-template-columns: 50fr 48fr;
  gap: 9.6rem;

  margin: 0 auto;
  padding: 0 3.2rem;

  max-width: 130rem;
}

.text-content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.heading {
  color: #333;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
}

.description {
  margin: 4.8rem 0;
}

.hero-btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;

  margin-left: 2.4rem;
  border: 2px solid #fff;

  transition: background-color 0.25s;
}

.hero-btn-secondary:hover {
  background-color: var(--primary-hint);
}

.arrow-down {
  font-size: 2rem;
  color: #333;
}

.hero-btn-secondary:hover .arrow-down,
.hero-btn-secondary:focus-visible .arrow-down {
  animation: var(--fade-down);
}

.meals-delivered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;

  margin-top: 4.8rem;
}

.avatar-group {
  display: flex;
}

.avatar {
  border-radius: 50%;
  border: 3px solid #fff;

  width: 5.2rem;
  height: 5.2rem;
}

.avatar:not(:first-child) {
  margin-left: -1.6rem;
}

.meals-delivered-label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.meals-delivered-count {
  color: var(--primary-shade);
  font-weight: 700;
}

.hero-images-content {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 100%;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
  .content {
    max-width: 120rem;
    gap: 4.8rem;
  }
  .heading {
    font-size: 4.4rem;
  }
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
  .content {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .text-content {
    align-items: center;
  }

  .heading,
  .description {
    text-align: center;
  }

  .meals-delivered {
    margin-top: 3.2rem;
  }
  .hero-img {
    width: 55%;
  }
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
