.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 2.4rem 0 1.6rem 0;
}
.feature-description {
  margin: 0;
  font-size: 1.8rem;
}
.feature-icon {
  /* background-color: red; */
  font-size: 3.2rem;
  border-radius: 50%;
  padding: 1.6rem;
  color: var(--primary-shade);
  background-color: var(--primary-hint);
}
/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .feature-description {
    font-size: 2rem;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
