.section-container {
  padding: 9.6rem 3.6rem;
  margin: 0 auto;

  max-width: 120rem;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.header-2 {
  margin: 0 0 7.4rem 0;

  font-size: 4.2rem;
  color: #333;
  line-height: 1.2;
}

.header-3 {
  margin: 1.6rem 0 3.2rem 0;

  font-size: 3rem;
  color: #333;
  line-height: 1.2;
}

.subheader {
  margin-bottom: 1rem;

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-shade);
  text-transform: uppercase;
}

.btn,
.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: var(--border-radius-1);

  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;

  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary-main);

  color: #fff;

  transition: background-color 0.25s;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--primary-shade);
}

.btn--primary:focus-visible {
  box-shadow: var(--outline-1);
}

.btn--secondary {
  background-color: #fff;

  color: #333;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-35%);
  }

  to {
    opacity: 1;
    transform: translateY(20%);
  }
}

@media (max-width: 75em) {
  .header-2 {
    font-size: 3.6rem;
  }

  .header-3 {
    font-size: 2.4rem;
  }
}
