.section-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem 3.6rem;
}
.grid {
  display: grid;
  gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.header-2 {
  font-size: 4.2rem;
  line-height: 1.2;
  margin: 0;
  color: #333;
  margin-bottom: 7.4rem;
}
.header-3 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 1.6rem 0 3.2rem 0;
  color: #333;
}
.subheader {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--primary-shade);
}
.btn,
.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: var(--border-radius-1);

  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;

  cursor: pointer;
}

.btn--primary {
  color: #fff;
  background-color: var(--primary-main);
  transition: background-color 0.25s;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: var(--primary-shade);
}
.btn--primary:focus-visible {
  outline: var(--outline-shade);
}
.btn--secondary {
  color: #333;
  background-color: #fff;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(20%);
  }
}
@media (max-width: 75em) {
  .header-2 {
    font-size: 3.6rem;
  }
  .header-3 {
    font-size: 2.4rem;
  }
}
