/* MEDIDAS
  
  FONT-SIZE
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  SPACING
  2/ 4 / 8 / 12 / 16 /  24 / 32 / 48 / 64 / 80 / 96 / 128


  QUERIES
  84em / 75em / 60em /  44em / 34em

  */

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
}
/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
  .header-2 {
    font-size: 3rem;
  }
}
/* 560 px - TABLETS */
@media (max-width: 35em) {
  .header-2 {
    font-size: 2.4rem;
  }
}
