@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* 1rem -> 10px = Calculos más sencillos */
  /* Se usa porcentaje para respetar el fontsize establecido por el usuario. SI lo aumenta, aumentan los tamaños*/

  font-size: 62.5%;
  --primary-main: #e67e22;
  --primary-hint: #fdf2e9;
  --box-shadow-1: rgba(230, 126, 34, 0.5);
  --primary-shade: #cf711f;
  --border-radius-1: 10px;
  --fade-down: fadeDown 1s ease infinite;
  --shadow-1: rgba(78, 52, 52, 0.09) 0px 3px 12px;
  --shadow-2: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --outline-main: 7px solid var(--primary-main);
  --outline-hint: 7px solid var(--primary-hint);
  --outline-shade: 7px solid var(--primary-shade);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  line-height: 1;
}

*:focus-visible {
  outline: var(--outline-shade);
  border-radius: var(--border-radius-1);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #666;
}
p {
  font-size: 2rem;
  line-height: 1.6;
}
