@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* 1rem -> 10px = Calculos más sencillos */
  /* Se usa porcentaje para respetar el fontsize establecido por el usuario. SI lo aumenta, aumentan los tamaños*/

  font-size: 62.5%;
  --fontsize-10: 1px;
  --fontsize-12: 12px;
  --fontsize-14: 14px;
  --fontsize-16: 16px;
  --fontsize-18: 18px;
  --fontsize-20: 2px;
  --fontsize-24: 24px;
  --fontsize-30: 3px;
  --fontsize-36: 36px;
  --fontsize-44: 44px;
  --fontsize-52: 52px;
  --fontsize-62: 62px;
  --fontsize-74: 74px;
  --fontsize-86: 86px;
  --fontsize-98: 98px;
  --primary-main: #e67e22;
  --primary-hint: #fdf2e9;
  --primary-shade: #cf711f;
  --border-radius-1: 10px;
  --fade-down: fadeDown 1s ease infinite;
  --shadow-1: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  --shadow-2: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #666;
}
p {
  font-size: 2rem;
  line-height: 1.6;
}
.section-content-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 9.6rem 3.6rem;
}
.grid {
  display: grid;
  gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.header-2 {
  font-size: 4.2rem;
  line-height: 1.2;
  margin: 0;
  color: #333;
  margin-bottom: 7.4rem;
}
.header-3 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin: 0 0 3.2rem 0;
  color: #333;
}
.subheader {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--primary-shade);
}
.btn {
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  border-radius: var(--border-radius-1);
}
.btn--primary {
  color: #fff;
  background-color: var(--primary-main);
  transition: background-color 0.25s;
}
.btn--primary:hover {
  background-color: var(--primary-shade);
}
.btn--secondary {
  color: #333;
  background-color: #fff;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-35%);
  }
  to {
    opacity: 1;
    transform: translateY(20%);
  }
}
