@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* 1rem -> 10px = Calculos más sencillos */
  /* Se usa porcentaje para respetar el fontsize establecido por el usuario. SI lo aumenta, aumentan los tamaños*/

  /* MEDIDAS
  
  FONT-SIZE
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  SPACING
  2/ 4 / 8 / 12 / 16 /  24 / 32 / 48 / 64 / 80 / 96 / 128


  QUERIES
  84em / 75em / 60em /  44em / 34em

  */

  font-size: 62.5%;
  --border-radius-1: 10px;

  --primary-main: #e67e22;
  --primary-hint: #fdf2e9;
  --primary-shade: #cf711f;

  /* --outline-1: rgba(230, 125, 34, 0.5) 0px 0px 0px 0.6rem; */
  --outline-1: var(--primary-main) 0px 0px 0px 0.6rem;
  --outline-2: var(--primary-shade) 0px 0px 0px 0.6rem;
  --outline-3: var(--primary-hint) 0px 0px 0px 0.6rem;

  --shadow-1: rgba(78, 52, 52, 0.09) 0px 3px 12px;
  --shadow-2: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  --shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  --outline-main: 1px solid var(--primary-main);
  --outline-hint: 7px solid var(--primary-hint);
  --outline-shade: 7px solid var(--primary-shade);

  --fade-down: fadeDown 1s ease infinite;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  line-height: 1;
}

*:focus {
  /* outline: var(--outline-shade); */
  outline: none;
  box-shadow: var(--outline-1);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: #666;
}
p {
  font-size: 2rem;
  line-height: 1.6;
}

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
  :root {
    font-size: 56.25%;
  }
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
  :root {
    font-size: 50%;
  }
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
  :root {
    font-size: 40.62%;
  }
}

/* 560 px - PHONES */
@media (max-width: 35em) {
}

/* 480 px - SMALL PHONES */
@media (max-width: 30em) {
  :root {
    font-size: 37.5%;
  }
}
