.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.4rem 4.8rem;

  background-color: var(--primary-hint);
}

.logo {
  height: 2.4rem;
}

.menu-btn {
  display: none;

  padding: 0.8rem 1rem;
  border: none;

  background-color: transparent;
  height: 5.2rem;
  width: 5.2rem;
}

.menu-btn-bar {
  border-top: 0.4rem solid #333;
  width: 100%;
}

.menu-bar-1,
.menu-bar-2,
.menu-bar-3 {
  transform-origin: left;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.menu-bar-1--open {
  animation-name: rotate-down;
}
.menu-bar-1--closed {
  animation-name: rotate-down-reverse;
}
.menu-bar-2--open {
  animation-name: slide-out;
}
.menu-bar-2--closed {
  animation-name: slide-in;
}
.menu-bar-3--open {
  animation-name: rotate-up;
}
.menu-bar-3--closed {
  animation-name: rotate-up-reverse;
}

.navigation {
  display: block;
}

.nav-link-list {
  display: block;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.link:link,
.link:visited {
  position: relative;
  z-index: 0;

  border-radius: 5px;

  box-shadow: none;

  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  text-decoration: none;
  box-shadow: none;
}

.link:hover,
.link:active {
  color: var(--primary-shade);
}

.nav-btn {
  padding: 1.2rem 2.4rem;
  border-radius: 7px;
  font-size: 1.6rem;
}

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
  .navbar {
    padding: 2.4rem 3.2rem;
  }
}
/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
  .nav-link-list {
    gap: 2.4rem;
  }
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
  .navigation {
    display: none;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
}
/* 560 px - PHONES */
@media (max-width: 35em) {
}
/* 480 px - SMALL PHONES */
@media (max-width: 30em) {
}

/* ANIMACIONES */
@keyframes rotate-down {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(40deg) scale(1.15);
  }
}
@keyframes rotate-down-reverse {
  0% {
    transform: rotate(40deg) scale(1.15);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes rotate-up {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(-40deg) scale(1.15);
  }
}
@keyframes rotate-up-reverse {
  0% {
    transform: rotate(-40deg) scale(1.15);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes slide-out {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
