.navbar {
  position: relative;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.4rem 4.8rem;

  height: 9.2rem;
  width: 100%;
  background-color: var(--primary-hint);
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #fff;
  box-shadow: var(--shadow-1);

  animation: slide-down 0.25s ease forwards;
}

.logo {
  height: 2.2rem;
}

.navigation {
  display: block;
}

.nav-link-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;

  padding: 0;

  list-style: none;
}

.link:link,
.link:visited {
  position: relative;
  z-index: 0;

  border-radius: 5px;

  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--primary-shade);
}

.nav-btn:link,
.nav-btn:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 7px;

  font-size: 1.6rem;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100dvw;
  height: 100dvh;

  background-color: rgba(255, 255, 255, 0.9);

  backdrop-filter: blur(5px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.mobile-nav .nav-link-list {
  flex-direction: column;
  gap: 6.2rem;
}

.mobile-nav .nav-link-list .link {
  font-size: 2.4rem;
}

.menu-open {
  transform: translateX(0);
  opacity: 1;
}

.menu-closed {
  transform: translateX(110%);
  opacity: 0;
}

.menu-hidden {
  pointer-events: none;
  visibility: hidden;
}

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
  .navbar {
    padding: 2.4rem 3.2rem;
  }
}

/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
  .nav-link-list {
    gap: 2.4rem;
  }
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
  /* .navigation {
    display: none;
  }
     */
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
}

/* 560 px - PHONES */
@media (max-width: 35em) {
}

/* 480 px - SMALL PHONES */
@media (max-width: 30em) {
}

@keyframes slide-down {
  0% {
    transform: translateY(-110%);
  }

  100% {
    transform: translateY(0);
  }
}
