.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.4rem 4.8rem;

  background-color: var(--primary-hint);
}

.nav-link-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.link:link,
.link:visited {
  position: relative;
  z-index: 0;

  padding: 5px 10px;
  border-radius: 5px;

  box-shadow: none;

  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  text-decoration: none;
  box-shadow: none;
}

.link:hover,
.link:active {
  color: var(--primary-shade);
}

.nav-btn {
  padding: 1.2rem 2.4rem;
  border-radius: 7px;
  font-size: 1.6rem;
}
.logo {
  height: 2.2rem;
}
