.testimonial-card {
  display: flex;
  flex-direction: column;
}

.testimonial-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.testimonial-picture {
  width: 6.4rem;
  clip-path: circle(50%);
  height: 6.4rem;
  margin-bottom: 1.8rem;
}
.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
  /* margin-top: 2rem; */
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
  .testimonial-picture {
    height: 8rem;
    width: 8rem;
  }
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  /* .testimonial-card:nth-child(even) {
    align-items: end;
  }
  .testimonial-card:nth-child(even) .testimonial-text {
    text-align: end;
  } */
  .testimonial-text {
    font-size: 2rem;
  }
  .testimonial-picture {
    height: 7.2rem;
    width: 7.2rem;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
