.testimonial-card {
  display: flex;
  flex-direction: column;
}

.testimonial-text {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.testimonial-picture {
  width: 6.4rem;
  clip-path: circle(50%);
  height: 6.4rem;
  margin-bottom: 1.8rem;
}
.testimonial-name {
  color: #6f6f6f;
  font-size: 1.6rem;
  /* margin-top: 2rem; */
}
