.testimonials-section {
  display: grid;
  grid-template-columns: 55fr 45fr;

  background-color: var(--primary-hint);
}
.testimonials-text {
  padding: 9.6rem;
  margin: auto 0;
}
.testimonials-text-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  object-fit: cover;

  transition: transform 0.25s linear;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
  .testimonials-section {
    grid-template-columns: 60fr 40fr;
  }
  .testimonials-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .testimonials-text {
    padding: 4.8rem;
  }
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
  .testimonials-text {
    padding: 3.6rem;
  }
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .testimonials-text {
    padding: 7.6rem 4.8rem;
  }
  .testimonials-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
  .testimonials-gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .testimonials-text-grid {
    grid-template-columns: 1fr;
  }
  .testimonials-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
  .testimonials-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
