.testimonials-section {
  background-color: var(--primary-hint);
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* gap: 1rem; */
}
.testimonials-text {
  padding: 9.6rem;
  margin: auto 0;
}
.testimonials-text-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.25s linear;
}

.gallery-item:hover img {
  transform: scale(1.1);
}
