.logos-section {
  padding: 3.2rem 0;
}
.logos-container {
  display: flex;
  /* gap: 4.8rem; */
  justify-content: space-evenly;
  height: 3.2rem;
}
.heading-logos {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.logo {
  /* filter: grayscale(100%); */
  filter: brightness(0) opacity(0.5);
  transition: all 0.15s;
  cursor: pointer;
}
.logo:hover {
  filter: brightness(100%) opacity(1);
}
