.logos-section {
  padding: 3.2rem;
}
.logos-container {
  display: flex;
  gap: 4.8rem;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.heading-logos {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #888;
  text-align: center;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.logo {
  /* filter: grayscale(100%); */
  height: 3.2rem;
  filter: brightness(0) opacity(0.5);
  transition: all 0.15s;
  cursor: pointer;
}
.logo:hover {
  filter: brightness(100%) opacity(1);
}

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
}
/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
  .logos-container {
    gap: 3.2rem;
  }
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
  .logo {
    height: 2.4rem;
  }
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
  /* .logo {
    height: 2.2rem;
  } */
}
/* 560 px - TABLETS */
@media (max-width: 35em) {
  /* .logo {
    height: 2rem;
  } */
}
