.cta {
  background-color: var(--primary-main);
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  color: #333;
}
.cta-text-content {
  padding: 4.8rem;
  width: 65%;
}
.cta-header {
  margin: 0;
}
.cta-paragraph {
  margin: 3.6rem 0;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: end;
  align-items: end;
  column-gap: 3.6rem;
  row-gap: 2.4rem;
}
.cta-form-field {
  display: flex;
  flex-direction: column;
}
.cta-image {
  width: 35%;
  /* border: 2px solid red; */
  background-image: linear-gradient(rgb(230, 126, 34, 0.3)),
    url("img/eating.jpg");
  background-size: cover;
  /* background-color: red; */
  /* height: 10px; */
  /* width: 50px; */
}
.cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-form-input {
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
}
.cta-form-input:focus {
  outline: 0.8rem solid var(--primary-hint);
}
.cta-submit-btn {
  height: calc(1.8rem + 2 * 1.6rem);
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 600;
  color: #fff;
  background-color: brown;
  cursor: pointer;
  transition: all 0.25s;
}
.cta-submit-btn:hover {
  color: brown;
  background-color: #fff;
}
