.cta-container {
  padding: 0 3.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 66fr 33fr;
  grid-template-areas: "text media";

  margin: 4.8rem auto 9.8rem auto;
  border-radius: 15px;
  max-width: 115rem;
  background-image: linear-gradient(
    to right,
    var(--primary-main),
    var(--primary-hint)
  );

  color: #45260a;

  overflow: hidden;
  box-shadow: var(--shadow-2);
}

.cta-image {
  grid-area: media;

  padding-bottom: 65%;

  width: 100%;
  background-image: linear-gradient(rgb(230, 126, 34, 0.26)),
    url("/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-content {
  grid-area: text;

  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-header {
  margin: 0;

  color: inherit;
}

.cta-paragraph {
  margin: 3.6rem 0;

  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.input-label {
  margin-bottom: 1.4rem;

  font-weight: 500;
}

.cta-form-field {
  display: flex;
  flex-direction: column;
}

.cta-form-input {
  padding: 1.6rem;
  border: none;
  border-radius: 5px;

  font-family: inherit;
  font-size: 1.8rem;
}

.cta-form-input:focus-visible,
.cta-submit-btn:focus-visible {
  box-shadow: var(--outline-3);
}

.cta-form-input::placeholder {
  color: #777;
}

.cta-submit-btn {
  align-self: flex-end;

  border: none;
  border-radius: var(--border-radius-1);

  height: calc(1.8rem + 2 * 1.6rem);
  background-color: #45260a;

  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 600;
  color: #fff;

  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.cta-submit-btn:hover {
  background-color: #fff;

  color: #45260a;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
  .cta {
    grid-template-columns: 60fr 40fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .cta-text-content {
    padding: 4.8rem;
  }

  .cta-paragraph {
    font-size: 2rem;
  }
}

/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}

/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .cta {
    grid-template-columns: 1fr;
    grid-template-areas:
      "media"
      "text";
  }

  .cta-text-content {
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
