.cta-container {
  padding: 0 3.6rem;
}
.cta {
  background-image: linear-gradient(
    to right,
    var(--primary-main),
    var(--primary-hint)
  );
  max-width: 115rem;
  margin: 4.8rem auto 9.8rem auto;
  display: grid;
  grid-template-columns: 66fr 33fr;
  border-radius: 15px;
  overflow: hidden;
  color: #45260a;
  box-shadow: var(--shadow-2);
}
.cta-image {
  background-image: linear-gradient(rgb(230, 126, 34, 0.26)),
    url("img/eating.jpg");
  background-size: cover;
}
.cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-text-content {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-header {
  margin: 0;
  color: inherit;
}
.cta-paragraph {
  margin: 3.6rem 0;
  font-size: 1.8rem;
  line-height: 1.8;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.input-label {
  margin-bottom: 1.4rem;
  font-weight: 500;
}
.cta-form-field {
  display: flex;
  flex-direction: column;
}
.cta-form-input {
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 5px;
  font-family: inherit;
  border: none;
}
.cta-form-input::placeholder {
  color: #777;
}
.cta-submit-btn {
  height: calc(1.8rem + 2 * 1.6rem);
  border-radius: var(--border-radius-1);
  align-self: flex-end;
  border: none;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 600;
  color: #fff;
  background-color: #45260a;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}
.cta-submit-btn:hover {
  color: #45260a;
  background-color: #fff;
}
