.cta-container {
  padding: 0 3.6rem;
}
.cta {
  background-image: linear-gradient(
    to right,
    var(--primary-main),
    var(--primary-hint)
  );
  max-width: 115rem;
  margin: 4.8rem auto 9.8rem auto;
  display: grid;
  grid-template-columns: 66fr 33fr;
  grid-template-areas: "text media";
  border-radius: 15px;
  overflow: hidden;
  color: #45260a;
  box-shadow: var(--shadow-2);
}
.cta-image {
  background-image: linear-gradient(rgb(230, 126, 34, 0.26)),
    url("img/eating.jpg");
  background-size: cover;
  background-position: center;
  grid-area: media;
  width: 100%;
  padding-bottom: 65%;
}

.cta-text-content {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  grid-area: text;
}
.cta-header {
  margin: 0;
  color: inherit;
}
.cta-paragraph {
  margin: 3.6rem 0;
  font-size: 1.8rem;
  line-height: 1.8;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.input-label {
  margin-bottom: 1.4rem;
  font-weight: 500;
}
.cta-form-field {
  display: flex;
  flex-direction: column;
}
.cta-form-input {
  padding: 1.6rem;
  font-size: 1.8rem;
  border-radius: 5px;
  font-family: inherit;
  border: none;
}
.cta-form-input::placeholder {
  color: #777;
}
.cta-submit-btn {
  height: calc(1.8rem + 2 * 1.6rem);
  border-radius: var(--border-radius-1);
  align-self: flex-end;
  border: none;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 600;
  color: #fff;
  background-color: #45260a;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}
.cta-submit-btn:hover {
  color: #45260a;
  background-color: #fff;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
  .cta {
    grid-template-columns: 60fr 40fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }
  .cta-text-content {
    padding: 4.8rem;
  }
  .cta-paragraph {
    font-size: 2rem;
  }
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .cta {
    grid-template-columns: 1fr;
    grid-template-areas:
      "media"
      "text";
  }
  .cta-text-content {
    padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
