.cards-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 2px solid var(--primary-hint);
  padding: 4.8rem 7.2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: var(--border-radius-1); */
}
.card--complete {
  background-color: var(--primary-hint);
  position: relative;
  overflow: hidden;
}
.card--complete::before {
  content: "BEST VALUE";
  font-size: 1.4rem;
  /* line-height: 1.5; */
  padding: 2.5px 0;
  font-weight: 700;
  width: 20rem;
  text-align: center;
  position: absolute;
  top: 3rem;
  right: -5rem;
  background-color: #fcc419;
  /* transform-origin: left; */
  transform: rotate(40deg);
}

.card-title {
  font-size: 2rem;
  color: var(--primary-shade);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.price {
  text-align: center;
  font-size: 6.4rem;
  font-weight: 500;
  color: #333;
  margin: 0;
  line-height: 1;
}
.dollar-sign {
  font-size: 3.2rem;
}

.per-month-info {
  margin-bottom: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
}

.feature-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.4rem;
}
.feature {
  display: flex;
  align-items: center;
}
.list-icon {
  font-size: 3.2rem;
  margin-right: 1.6rem;
  color: var(--primary-main);
}

.action-btn {
  margin-top: 4.8rem;
}

.pricing-conditions {
  text-align: center;
  margin: 4.8rem 0 9.8rem 0;
}
