.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3.6rem 7.2rem;
  border: 2px solid var(--primary-hint);
  border-radius: var(--border-radius-1);

  width: 100%;
  max-width: 42rem;
}

.card--complete {
  position: relative;

  background-color: var(--primary-hint);

  overflow: hidden;
}

.card--complete::before {
  content: "BEST VALUE";

  position: absolute;
  top: 7%;
  right: -13%;

  padding: 2.5px 0;

  width: 20rem;
  background-color: #fcc419;

  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;

  transform: rotate(45deg);
}

.card-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-shade);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75;
}

.price {
  margin: 3.2rem 0 1.6rem 0;

  font-size: 6.2rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  line-height: 1;
}

.dollar-sign {
  font-size: 3.2rem;
}

.per-month-info {
  margin-bottom: 4.8rem;

  font-size: 1.6rem;
  color: #6f6f6f;
  text-align: center;
  line-height: 1.6;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  padding: 0;
  margin: 0;

  list-style: none;
}

.feature {
  display: flex;
  align-items: center;
}

.list-icon {
  margin-right: 1.6rem;

  font-size: 3.2rem;
  color: var(--primary-main);
}

.action-btn {
  margin-top: 4.8rem;
}

.pricing-conditions {
  margin: 4.8rem 0 9.8rem 0;

  text-align: center;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
}

/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}

/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .cards-container {
    flex-direction: column;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
