.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3.2rem;
}

.card {
  border: 2px solid var(--primary-hint);
  padding: 3.6rem 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-1);
  width: 100%;
  max-width: 42rem;
}
.card--complete {
  background-color: var(--primary-hint);
  position: relative;
  overflow: hidden;
}
.card--complete::before {
  content: "BEST VALUE";
  font-size: 1.4rem;
  padding: 2.5px 0;
  font-weight: 700;
  width: 20rem;
  text-align: center;
  position: absolute;
  top: 7%;
  right: -13%;
  background-color: #fcc419;
  /* transform-origin: left; */
  transform: rotate(45deg);
}

.card-title {
  font-size: 2rem;
  color: var(--primary-shade);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.75;
}
.price {
  text-align: center;
  font-size: 6.2rem;
  font-weight: 500;
  color: #333;
  margin: 3.2rem 0 1.6rem 0;
  line-height: 1;
}
.dollar-sign {
  font-size: 3.2rem;
}

.per-month-info {
  margin-bottom: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.feature-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.8rem;
}
.feature {
  display: flex;
  align-items: center;
}
.list-icon {
  font-size: 3.2rem;
  margin-right: 1.6rem;
  color: var(--primary-main);
}

.action-btn {
  margin-top: 4.8rem;
}

.pricing-conditions {
  text-align: center;
  margin: 4.8rem 0 9.8rem 0;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
  /* .cards-container {
    justify-content: space-between;
  } */
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
  .cards-container {
    flex-direction: column;
  }
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
