.footer {
  display: grid;
  grid-template-areas: "logo contact account company resources";
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 6.4rem;

  border-top: 1px solid #eee;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-logo {
  margin-bottom: 3.2rem;

  height: 2.4rem;
}

.social-media {
  display: flex;
  gap: 2.4rem;
}

.social-media-link:link,
.social-media-link:visited {
  color: #333;
  text-decoration: none;
}

.social-media-link:focus-visible {
  border-radius: 2px;
}

.social-media-logo {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  margin-bottom: 2.4rem;

  font-size: 1.8rem;
  font-weight: 500;
}

.link-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.25;
  text-decoration: none;

  transition: color 0.25s;
}

.footer-link:hover {
  color: #333;
}

.copyright {
  margin-top: auto;

  font-size: 1.4rem;
  line-height: 1.6;
}

/* 1360 px - SMALL LAPTOPS */
@media only screen and (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media only screen and (max-width: 75em) {
}

/* 960 px - TABLETS */
@media only screen and (max-width: 60em) {
}
/* 720 px - TABLETS */
@media only screen and (max-width: 45em) {
  .footer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "account account company company resources resources"
      "logo logo logo contact contact contact";
  }
}
/* 560 px - PHONES */
@media only screen and (max-width: 35em) {
}

/* 480 px - SMALL PHONES */
@media only screen and (max-width: 30em) {
}
