.footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 6.4rem;
  border-top: 1px solid #eee;
}

.footer-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 80%;
  margin-bottom: 3.2rem;
}

.social-media {
  display: flex;
  gap: 2.4rem;
}

.social-media-link:link,
.social-media-link:visited {
  text-decoration: none;
  color: #333;
}

.social-media-link:focus-visible {
  border-radius: 2px;
}

.social-media-logo {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.link-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #767676;
  text-decoration: none;
  transition: color 0.25s;
}

.footer-link:hover {
  color: #333;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
}
